body{
	background-color: #F0F0F0;
}
blockquote{
	text-align: left;
	border-left: 5px solid gray;
	width: 75%;
	margin-left:auto;
	margin-right:auto;

}
footer{
	padding-left: 80%;
	padding-bottom:1%;
}
#main-menu
{
	padding-left: 80%;
	position: fixed;
}
.homepagelink{
	text-decoration: underline;
}
.title{
	padding-top: 2.9em;
}
.container {
    text-align:center;
}
.error{
	text-align: center;
}
.text{
	width:2em;
	text-align: center;
}
.loremipsum{
	text-align: left;
	padding-left: 2em;
    text-indent:-2em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.generatedusers{
	text-align: left;
	padding-left: 33%;
}
.user{
	display:inline-block;
	border-bottom: 2px solid grey;
	margin-bottom: 1em;
}
.userphoto
{
	border: 2px solid grey;
	border-radius: 1em;
	box-shadow: 7px 7px 15px #888888;
}
.userinfo{
	float:right;
}